ion-header{

    #logo{
        width: 90px;
        height: 90px;      
        padding: 10px;
        margin-left: 20px;
    }
  
    .header {
        position: absolute;
        top: 5px;
        right: 95px;
       color: white;
        z-index: 111;
    }
  
    .menu_btn {
        background: #F29F05;
        color: white;
        border-radius: 50%;
        margin-right: 10px;
    }  

    #name {
        color: #F29F05;
    }
  }

  ion-content{
    ion-item{
        --color: #BF0404;
        --font-weight: bold;
    }
  }

.menu{
    ion-icon{
        font-size: 24px;
        color: #BF0404;
    }

    ion-label{
        color: #F29F05;
    }
}