
  
<ion-menu contentId="main-content" class='menu'>
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" id="name">DAVI'S BURGUER</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="book-outline" slot="start" ></ion-icon>
        <ion-label routerLink="/cardapio" >Cardapio</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label routerLink="/cadastro" >Cadastro</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ticket-outline" slot="start"></ion-icon>
        <ion-label routerLink="/cupoens" >Cupõens</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label routerLink="/sobre-nos" >Sobre</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label routerLink="/login">Login</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header  id="main-content">
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <img slot="end" id="logo" src="../../../assets/icon/logo.png" routerLink="/home">
    </ion-buttons>
    <!-- <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar> -->
    <ion-buttons slot="end" class="menu_btn">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


